<div *ngIf="loading">Cargando canciones...</div>
<div *ngIf="!loading">
  <h1>Lista de Canciones</h1>
  <mat-selection-list>
    <mat-list-option *ngFor="let cancion of canciones">
      <div class="song-item">
        <img *ngIf="cancion.coverImage" [src]="getCoverImageUrl(cancion.coverImage)" alt="Cover Image"  class="song-image" loading="lazy">
          <span matListItemLine>
            <p>{{ cancion.title }}</p>
            <p>{{ cancion.artist }}</p>
            <p>{{ cancion.songYear }}</p>
            <p>{{ cancion.genre }}</p>
            <p>{{ formatDuration(cancion.durationMs) }}</p>
            <p>{{ cancion.popularity }}</p>
          </span>
      </div>
    </mat-list-option>
  </mat-selection-list>
</div>