<div *ngIf="loading">Cargando canciones...</div>
<div *ngIf="!loading">
  <h1>Lista de Canciones</h1>
  <mat-selection-list>
    <mat-list-option *ngFor="let cancion of canciones">
      <div class="song-item">
        <img *ngIf="cancion.coverImage" [src]="getCoverImageUrl(cancion.coverImage)" alt="Cover Image" width="256"
          height="256" class="song-image">
        <div class="song-details">
          <h2>{{ cancion.title }}</h2>
          <p>Artista: {{ cancion.artist }}</p>
          <p>Año: {{ cancion.songYear }}</p>
          <p>Género: {{ cancion.genre }}</p>
          <p>Duración: {{ formatDuration(cancion.durationMs) }}</p>
          <p>Popularidad: {{ cancion.popularity }}</p>
        </div>
      </div>
    </mat-list-option>
  </mat-selection-list>
</div>