<mat-sidenav-container class="example-container">
  <mat-sidenav
  mode="side"
  #sidenav
  id="sidenav"
  [fixedInViewport]="options.fixed" [fixedTopGap]="options.top"
  [fixedBottomGap]="options.bottom"
  [class.menu-open]="isMenuOpen"
  [class.menu-close]="!isMenuOpen"
  opened>
    <mat-list id="menus">
      <mat-list-item>
        <mat-icon
          (click)="onToolbarMenuToggle()"
          class="menu-icon">menu</mat-icon>
      </mat-list-item>
      <mat-list-item>
        <mat-card>
          <mat-card-header>
            <div mat-card-avatar class="avatar"></div>
          </mat-card-header>
        </mat-card>
      </mat-list-item>
      <mat-list-item class="menu-button">
        <a class="menu-item" routerLink="/home">
          <mat-icon class="menu-icon">home</mat-icon>
          <span>Home</span>
        </a>
      </mat-list-item>
      <mat-list-item class="menu-button">
        <a class="menu-item" routerLink="/about">
          <mat-icon class="menu-icon">library_music</mat-icon>
          <span>Playlists</span>
        </a>
      </mat-list-item>
      <mat-list-item class="menu-button">
        <a class="menu-item" routerLink="/about">
          <mat-icon class="menu-icon">library_music</mat-icon>
          <span>About</span>
        </a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="content-container">
    <app-song-list></app-song-list>
  </mat-sidenav-content>
</mat-sidenav-container>
