:host {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  margin: 100px 0px;
  background-color: #4e444b;
}

.login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);



  .error-message {
    padding: 12px;
    width: 100%;
    max-width: 200px;
    color: white;
    background-color: rgba(233, 144, 115, 0.8);
    /* Color de fondo con transparencia */
    border-radius: 4px;
    /* Bordes redondeados */
    text-align: center;
    /* Centra el texto dentro del mensaje de error */
    margin-top: 5px;
    margin-bottom: 15px;
    /* Espacio superior reducido para los mensajes de error */
    font-size: 14px;
    /* Tamaño de fuente */
  }


  .login-button {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

mat-form-field {
  width: 100%;
  min-width: 200px;
}

mat-card-title {
  color: #e089b8;
  margin-bottom: 20px;
}