/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Spotify';
    src: url('./assets/spotify.otf') format('otf'),
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

